<div class="container mt-5" [formGroup]="currencyFormGroup">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <div class="form-group">
        <label for="currencies">
          {{currencyFormGroup.controls['fromCanadianToForeign']?.value ? 'Transform to' : 'Transform from'}}
        </label>
        <select class="form-select" aria-label="select currency" id="currencies" formControlName="currency">
          <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
        </select>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 mb-5">
      <div class="col-4 d-flex justify-content-center">
        <i class="bi"
           [ngClass]="currencyFormGroup.controls['fromCanadianToForeign']?.value ? 'bi-arrow-up': 'bi-arrow-down'"
           (click)="changeCurrencyTransformDirection()"></i>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <div class="form-group">
          <label for="currency">
            {{currencyFormGroup.controls['fromCanadianToForeign']?.value ? 'Transform from' : 'Transform to'}}</label>
          <select class="form-select" id="currency" disabled>
            <option>{{CANADIAN_CURRENCY}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 mb-5">
      <div class="col-4 d-flex justify-content-center">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4 d-flex justify-content-center">
        <button type="button" (click)="onSubmit()" class="btn btn-primary btn-lg"
                [disabled]="isLoading || currencyFormGroup.invalid">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
